@import url('https://fonts.googleapis.com/css?family=Galada|Leckerli+One|PT+Mono&display=swap');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-weight: 200;
  letter-spacing: 2px;
  background: url('./assets/bg.png') no-repeat center center fixed;
  background-size: cover;
  background-color: #1c1c1c;
}


.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  padding: 25px 15px;
  margin: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  font-family: 'Leckerli One', cursive;
  font-size: 9.125vw;
  color: #ffd200;
  text-shadow: 2px 2px #FFF;
  margin: 0;
}

h3 {
  margin: 0;
  color: #000;
  font-family: 'PT Mono', monospace;
  display: inline-flex;
  font-size: 4vw;
  text-shadow: 2px 2px #ffd200;
}

